# Hardhat / Truffle artifacts
/artifacts
/cache
/node_modules

# Build directories
/build

# Compiled smart contracts
*.sol.js

# Hardhat specific
hardhat-deploy
coverage/

# Local environment files
.env

# Result Images
Result-images